{% extends 'base.html.twig' %}

{% block title %}{{ 'comment.add'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'comment.add'|trans }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{ 'back.home'|trans }}</a>
{% endblock %}
