{% extends 'base.html.twig' %}

{% block title %} {{ episode.season.program.title }} saison {{  episode.season.number  }}{% endblock %}

{% block main %}

    <h1 class="row">  {{ episode.season.program.title }} / saison {{  episode.season.number  }} : </h1>

        <div class="row episode">
            <h2>Episode {{ episode.number }} : {{ episode.title }}</h2>
            <p class="col-12 ">{{ episode.synopsis }}</p>
        </div>

    <div class="row link">
        <p class="col-12 ">
            <a href="{{ path('wild_showSeason', {'seasonId':episode.season.id}) }}">Voir la liste des episodes de la saison {{ episode.season.number }}</a>
        </p>
        <p class="col-12 ">
            <a href="{{
            path('wild_show', {
                'slug':episode.season.program.title|
                lower|
                replace({' ': '-'})
            })
            }}">
                Voir toutes les informations sur {{ episode.season.program.title }}
            </a>
        </p>
    </div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
