{% extends 'base.html.twig' %}

{% block title %} {{ season.program.title }} {{ 'season'|trans }} {{  season.number  }}{% endblock %}

{% block main %}

    <h1 class="row">
        {{ 'episode.list'|trans({'%title%': season.program.title}) }}
        {{ 'season'|trans }} {{  season.number  }} :
    </h1>

    <p class="row"> {{  season.description }}</p>

    <div class="accordion" id="exempleAccordeon">

        {% for index, episode in season.episodes %}
            <div class="card">
                <div class="card-header" id="header_{{ index }}">
                    <button class="btn btn-link w-100 d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapse_{{ index }}" aria-expanded="true" aria-controls="collapse_{{ index }}">
                        <h2>{{ episode.number }} / {{ episode.title }}</h2>
                    </button>
                </div>
                <div id="collapse_{{ index }}" class="collapse" aria-labelledby="header_{{ index }}" data-parent="#exempleAccordeon">
                    <div class="card-body">
                        <p >{{ episode.synopsis }}</p>
                        <a href="{{ path('wild_showEpisode', {'id': episode.id}) }}">
                            {{ 'episode.data'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <a href="{{ path('app_index') }}">
        {{ 'back.home'|trans }}
    </a>

{% endblock %}
