{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}

{% block main %}

    <div class="media">
        <img class="align-self-center mr-3 poster" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            {%  if program.seasons is empty %} - Aucune saison n'est enregsitrée pour cette série-  {%  endif %}
            {%  for season in program.seasons %}
                <a href="{{ path('wild_showSeason', {'seasonId':season.id}) }}">saison {{ season.number }}</a>
            {%  endfor %}
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
        </div>
    </div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}